{
    "bootstrap": false,
    "bind_addr": "{{ ansible_eth1['ipv4']['address'] }}",
    "server": true,
    "datacenter": "dc1",
    "acl_datacenter": "dc1",
    "acl_default_policy": "allow",
    "acl_master_token": "b7cee7dd-d18a-467a-bd10-f74953be9b75",
    "acl_token": "b7cee7dd-d18a-467a-bd10-f74953be9b75",
    "data_dir": "/var/consul",
    "encrypt": "Re46cXvRP4Vw4Ih1Mp5FYw==",
    "log_level": "INFO",
    "enable_syslog": true,
    "bootstrap_expect": 3,
    "retry_join": ["{{ hostvars["a-bootapp"][ nic ]["ipv4"]["address"] }}"]
}
