backend "consul" {
  address = "127.0.0.1:8500"
  path = "vault"
  scheme = "http"
}

listener "tcp" {
  address = "{{ ansible_eth1['ipv4']['address'] }}:8200"
  tls_disable = 1
}

disable_mlock=true
