{
    "bootstrap": {{ bootstrap|lower }},
    "server": true,
    "datacenter": "dc1",
    "acl_datacenter": "dc1",
    "data_dir": "/var/consul",
    "ui_dir": "/opt/dist/consul_webui",
    "encrypt": "Re46cXvRP4Vw4Ih1Mp5FYw==",
    "log_level": "INFO",
    "enable_syslog": true,
    "bind_addr": "{{ ansible_eth1['ipv4']['address'] }}"
}
