global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option  		    log-health-checks
    option                  http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 200

listen consul
    bind 0.0.0.0:80
    balance roundrobin
    option httpchk GET /v1/health/state/critical
    server consul1 192.168.33.10:8500 check
    server consul1 192.168.33.11:8500 check
    server consul1 192.168.33.12:8500 check

listen vault
    bind 0.0.0.0:80
    balance roundrobin
    option httpchk GET /v1/sys/health 
    server vault1 192.168.33.10:8200 check
    server vault2 192.168.33.11:8200 check
    server vault3 192.168.33.12:8200 check

listen stats *:1936
    stats enable
    stats uri /stats
    stats hide-version
    stats auth admin:admin
